version: '2'
services:
  marblecutter:
    build: .
    depends_on:
      - postgis
    environment:
      - DATABASE_URL=postgis://mapzen:mapzen@postgis/elevation
      - PYTHONPATH=.
      - AWS_REQUEST_PAYER=requester
    env_file: .env
    volumes:
      - .:/opt/marblecutter/
      - ../marblecutter/marblecutter:/usr/local/lib/python2.7/dist-packages/marblecutter
      - ../marblecutter/marblecutter:/usr/local/lib/python3.5/dist-packages/marblecutter
    ports:
      - "8000:8000"
    links:
      - postgis
    entrypoint: python3
    command: server.py
  postgis:
    image: mdillon/postgis:9.6
    environment:
      - POSTGRES_USER=mapzen
      - POSTGRES_PASSWORD=mapzen
      - POSTGRES_DB=elevation
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
