cachetools ~= 2.0.0
marblecutter[color_ramp,postgis,web] ~= 0.3.0
# https://github.com/mojodna/marblecutter/archive/master.tar.gz#egg=marblecutter[color_ramp,postgis,web]
rasterio[s3] >= 1.0a11 --no-binary rasterio
